BRASOES_ROOT=/app
BRASOES_CONTACT=lucaspedrolopescorrea@gmail.com
BRASOES_REPOSITORY_URL=https://meta.wikimedia.org/wiki/User:BrasoesDoBrasilBot
BRASOES_HTTP_TIMEOUT_MS=15000
BRASOES_MAX_DOWNLOAD_BYTES=25000000
BRASOES_CONCURRENCY=1
BRASOES_REQUEST_DELAY_MS=10000
BRASOES_FAILURE_DELAY_MS=3600000
WIKIMEDIA_BOT_USERNAME=BrasoesDoBrasilBot@COLOQUE_O_SUFIXO
WIKIMEDIA_BOT_PASSWORD=COLOQUE_A_SENHA_GERADA
